{
  "parser": "babel-eslint",
  "extends": "future/react",
  "rules": {
    "no-shadow": 0,
    "quotes": [2, "single"],
    "eol-last": [2],
    "no-underscore-dangle": [0],
    "comma-dangle": 0,

    "react/display-name": 0
  }
}
